@charset "UTF-8";

// Init ------------------------------------
@import 'unicef-mixins';
@import 'unicef-variables';
@import 'bootstrap';

// LAYOUT ----------------------------------
@import 'layout/buttons.scss';
@import 'layout/typography.scss';

// COMPONENTS -------------------------------
@import 'components/media.scss';
@import 'components/footer.scss';
@import 'components/navbar.scss';
@import 'components/thumbnails.scss';

// JAVASCRIPT WIDGET -------------------------
@import 'javascript/carousel.scss';

//--------------CUSTOM CSS----------------------------------//

.wrapper {
	width:60%;
	margin: auto;
	padding: auto;
}

.urgence {

	padding-top: 5px ;
	padding-bottom: 10px ;
}


.footer .container {
	width:62%;
	padding-left: 0px;
	padding-right: 0px;

}

.caption-dons .caption {

	background-color: #FF8448;
	color: #fff
}
.caption-dons .caption h3 {
	margin-top: 0px;
	padding-top: 15px;
}
.bg-orange {
	background-color: #FF8448;
}

.row {
	margin-top: 1em;
}
.btn {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.nav {
	margin-top:1em;
}
a {
	color:black;
}
.social {
	float:right;
	margin-top: 1em;
	margin-left: 1em;
}