{% extends "layout.twig" %}

{% block pagetitle %}Actions{% endblock %}

{% block page %}
  
 <div class="wrapper">
 <div class="row">
      <div class="col-md-4">
      <h1 class="primary">Domaines d'intervention</h1>
      </div>
  </div>
  <div class="Gallery">
    <div class="row">
       <div class="col-md-5">
        <img src="http://lorempixel.com/490/300/cats" alt="Some cats image">
      </div>
      <div class="col-md-7">
    <img src="http://lorempixel.com/700/400/cats" alt="Some cats image">
  </div>
   <div class="col-md-5">
    <img src="http://lorempixel.com/490/400/cats" alt="Some cats image">
  </div>
  <div class="col-md-7">
    <img src="http://lorempixel.com/700/500/cats" alt="Some cats image">
  </div>
  <div class="col-md-5">
    <img src="http://lorempixel.com/490/200/cats" alt="Some cats image">
  </div>
</div>
   

    {% endblock %}
	
