{% extends "layout.twig" %}

{% block pagetitle %}Dons{% endblock %}

{% block page %}

<div class="bg-orange">
  <div class="wrapper">

      <div class="urgence">
  	  		<h2 class="white">Soutien d'urgence</h2>

    <div class="row">
      
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/220/143/cats" alt="Some cats image">
            
            <div class="caption">
              <h3>Centrafrique</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim tanto opus est instrumento in optimis.</p>
            </div>        
                 
                 <a href="#">
                <div class="hover-thumbnail">
                  <h3> Pour plus d'informations et faire un don </h3>
                </div>
                 </a>
        </div>
      </div>


      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/220/143/cats" alt="Some cats image">
            
            <div class="caption">
              <h3>Irak</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim tanto opus est instrumento in optimis.</p>
            </div>        
                
                <a href="#">
                <div class="hover-thumbnail">
                  <h3> Pour plus d'informations et faire un don </h3>
                </div>
                 </a>
        </div>
      </div>

      
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/220/143/cats" alt="Some cats image">
            
            <div class="caption">
              <h3>Soudan</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim tanto opus est instrumento in optimis.</p>
            </div>        

                <a href="#">
                <div class="hover-thumbnail">
                  <h3> Pour plus d'informations et faire un don </h3>
                </div>
                 </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://lorempixel.com/220/143/cats" alt="Some cats image">
            
            <div class="caption">
              <h3>Syrie</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid enim tanto opus est instrumento in optimis.</p>
            </div>        

                <a href="#">
                <div class="hover-thumbnail">
                  <h3> Pour plus d'informations et faire un don </h3>
                </div>
                 </a>
        </div>
      </div> 
    </div>
    </div>
  </div>
</div>


<br>
<div class="wrapper">
    
    <h2 class="primary">Ainsi vous aidez les enfants</h2>
    
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Dons général</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-warning" data-toggle="button">Faire un don</button>
      </div>
    </div>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Dons aux programmes</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-warning" data-toggle="button">Faire un don</button>
      </div>
    </div>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Dons pour l'aides d'urgence de l'UNICEF</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-warning" data-toggle="button">Faire un don</button>
      </div>
    </div>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Financez des biens humanitaires grâce à votre dons</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-warning" data-toggle="button">Faire un don</button>
      </div>
    </div>

    <br>


    <h2 class="primary">Ainsi vous aidez les enfants</h2>
    
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Devenez membre de soutien de l'UNICEF</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-primary" data-toggle="button">Devenez membre</button>
      </div>
    </div>

    <div class="media">
      <img class="pull-left" href="#" data-src="holder.js/200x142" alt="64x64" src="http://lorempixel.com/150/90/cats" style="width: 200px; height: 142px;">
      <div class="media-body">
        <h3 class="media-heading">Parrainage de projets</h3>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <button type="button" class="btn btn-primary" data-toggle="button">Devenez parrain</button>
      </div>
    </div>


    <br>

</div>
{% endblock %}