<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block pagetitle %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/unicef.css">
    </head>
    <body>

    <div class="wrapper">
        <div class="surfooter">
         <div class="social">
            <a href="#"><img src="../img/social_Facebook.png" alt="Logo"></a>
            <a href="#"><img src="../img/social_Twitter.png" alt="Logo"></a>
            <a href="#"><img src="../img/social_youtube.png" alt="Logo"></a>
            <a href="#"><img src="../img/social_t.png" alt="Logo"></a>
            <a href="#"><img src="../img/social_Radio.png" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">

        </div>
      </form>

    </div>
</div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="../img/Logo.png" alt="Logo"></a>
                </div>
                <!-- Collect the nav links -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">Faire un don</a></li>
                        <li><a href="#">Nos actions</a></li>
                        <li><a href="#">Multimédia</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
        {% block page %}{% endblock %}
    <hr>
      <div class="row">
        <div class="col-md-3">
        <h3>UNICEF</h3>
        <a href="#"><p>Home</p></a>
        <a href="#"><p>Who we are</p></a>
        <a href="#"><p>What we do</p></a>
        <a href="#"><p>where we work</p></a>
        <a href="#"><p>Press Centre</p></a>
        <a href="#"><p>Statistics</p></a>
        </div>
         <div class="col-md-3">
        <h3>UNICEF and the UN</h3>
        <a href="#"><p>UN Links</p></a>
        <a href="#"><p>UN Millenium</p></a>
        <a href="#"><p>Development Goals</p></a>
        </div>
         <div class="col-md-3">
        <h3>UNICEF in depth</h3>
        <a href="#"><p>UNICEF Executive Board</p></a>
        <a href="#"><p>Supplies and logistics</p></a>
        <a href="#"><p>Publications</p></a>
        <a href="#"><p>Internal audit</p></a>
        <a href="#"><p>Transparency and accountability</p></a>
        <a href="#"><p>Post 2015 development</p></a>
        </div>
         <div class="col-md-3">
        <h3>UNICEF</h3>
        <a href="#"><p>public partnerships</p></a>
        <a href="#"><p>Corporate partnerships</p></a>
        <a href="#"><p>Civil society partnerships</p></a>
        <a href="#"><p>UNICEF and the European Union</p></a>
        <a href="#"><p>A Promise Renewed</p></a>
        <a href="#"><p>Global Education First Initiative</p></a>
        <a href="#"><p>UNGEI</p></a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p>About Unicef</p><p>Contact us</p><p>Legal</p>
        <div class="copyright">
            <p>Copyright Groupe-E</p>
        </div>
    </div>
</div>

        <script src="../js/vendors.min.js"></script>
        <script src="../js/main.min.js"></script>
    </body>
</html>






