@charset "UTF-8";
/*doc
---
title: Footer
name: a-footer
category: Components - Footer
---

```html_example

<div class="footer">
      <div class="container">
        <p>About Unicef</p><p>Contact us</p><p>Legal</p>
      	<div class="copyright">
        	<p>Copyright Groupe-E</p>
      	</div>
	</div>
</div>
```
*/

.footer {
	display:block;
	background-color: #0099ff;
	width: auto;
	color:white;
	height: 50px;
	
}

.container p {
	display:inline;
	margin-left: 15px;
}
.copyright p {
	display:inline;
	margin-right: 15px;
}

.footer .container {
	width: auto;
	padding-top: 15px;
}

.container .copyright {
	float:right;
}