@charset "UTF-8";

/*doc
---
title: Buttons
name: a-buttons
category: Layout - Buttons
---

```html_example
<button type="button" class="btn btn-primary">Primary</button>
```


| Preview                                                        | Class                      |
|----------------------------------------------------------------|----------------------------|
| <button type="button" class="btn btn-primary">Primary</button> | <pre>btn btn-primary</pre> |
| <button type="button" class="btn btn-warning">Warning</button> | <pre>btn btn-warning</pre> |
*/

.btn {
  background-image : url(../img/btn_fleche.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 0px;
  text-align: left;
  width: 160px;
}
.btn-block{
  width: 100%;
}
/*doc
---
title: Sizes
name: b-size
category: Layout - Buttons
---

```html_example

<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>
```

## Block buttons

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
</p>
```
*/